@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@700&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(https://freerangestock.com/sample/37396/space-background.jpg);
    scroll-behavior: smooth;
}

h1{
   
    font-size: 5.5rem;
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(250, 226, 10);
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 20px;
    text-align: center;
}
/* .voteform form input{ */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Philosopher', sans-serif; */
    /* text-align: center; */
/* }    */
form{
    /* border: 1px solid red; */
    text-align: center;
}
form input{
    /* display: block; */
    margin: 0 2rem;
}
