@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@700&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(https://freerangestock.com/sample/37396/space-background.jpg);
    scroll-behavior: smooth;
}


h1{
    font-size: 5.5rem;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    -webkit-text-stroke: 0.12rem yellow;
    color: transparent;
    font-family: 'Alfa Slab One', cursive;
}
.voteform{
    /* border: 1px solids red; */
    margin: 2rem auto;
    /* width: 80%; */
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.voteform form{
    /* border: 1px solid red; */
    padding: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    background-color: #20202082;
}
.voteform form input{
    margin: 1rem;
    width: 20rem;
    text-align: center;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border: 1px solid yellow;
    padding: 0.51rem;
}
.voteform form select{
    text-align: center;
    margin: 1rem;
    width: 20rem;
    padding: 0.51rem;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border: 1px solid yellow;
}
.voteform form option{
    text-align: center;
    margin: 1rem;
    width: 20rem;
    /* background-color: transparent; */
    color: black;
    padding: 0.51rem;

}
.voteform form .regbtn{
    /* border: 1px solid lawngreen; */
    background-color: yellow;
    color: black;
    padding: 0.51rem;
}
.voteform form .regbtn:hover{
    background-color: black;
    color: yellow;
    position: relative;
    top: -2px;
    box-shadow: 0px 1px 2px yellow;
}

@media screen and (max-width:600px) {
    *{
        font-size: 12px;
    }
    h1{
        font-size: 3rem;
        margin: 5rem;
    }
    .voteform{
        font-size: 2rem;
    }
}